* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    color: #333333;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}
a {
    color: #396684;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}